<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.company.myapp.AnalysisMapper">
	<select id="selectList_joininfo" resultType="Joininfo">
		select * from joininfo
		<if test="sdate !='' and edate !=''">
			where joindate between #{sdate} and #{edate}
		</if>
		UNION all
		select '합계' , sum(join0), sum(join1) , sum(join2) from joininfo
		<if test="sdate !='' and edate !=''">
			where joindate between #{sdate} and #{edate}
		</if>
	</select>
	
</mapper>  