<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<!-- 널허용 : 매퍼에서 값을 가져올때 null가능 -->  
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<!-- 매퍼 resultType의 알리아스 --> 
	<typeAliases>
		<typeAlias type="org.company.myapp.dto.Member" alias="Member"/>
		<typeAlias type="org.company.myapp.dto.Board" alias="Board"/>
		<typeAlias type="org.company.myapp.dto.Reply" alias="Reply"/>
		<typeAlias type="org.company.myapp.dto.BoardFile" alias="BoardFile"/>	
		<typeAlias type="org.company.myapp.dto.Joininfo" alias="Joininfo"/>			
	</typeAliases>

</configuration>  